<div class="container row">
		<h1 class="pull-left">EMPLOYEE DETAIL RECORDS</h1>
		
			<a href="#/save"
			class="btn btn-info pull-right">
				Add new
			</a>
		</div>


	<!--
	<form name="contactForm" class="form-horizontal">
	<div class="row">
	<div class="span 9">
	<label for="name">Employee Name: </label>
	<input type="text" ng-model="name" />
	<label for="empid">Employee Id: </label>
	<input type="text"ng-model="empid" />

	<label for="email">Email: </label>
	<input type="text" ng-model="email" id="email" />

	</div>
	</div>

	<div class="row">
	<div class="form-actions">
	<div class="span 12">

	<button type="button" class="btn" ng-click="insertTable()">
	Save
	</button>
	<button type="button" class="btn" ng-click="updateContact()">
	update
	</button>
	</div>
	</div>
	</form>
	<div ng-show="enterNew">
	<table style="width: 100%" border='1'>
	<thead>
	<tr>
	<th>ID</th>
	<th>Name </th>
	<th>Employee Id</th>
	<th>Email</th>
	<th>Actions</th>
	</tr>
	</thead>
	<tbody>

	<tr ng-repeat="val in tableData">
	<td>{{val.id}}</td>
	<td>{{val.name}}</td>
	<td>{{val.empid}}</td>
	<td>{{val.email}}</td>

	<td><a ng-click="deleteRecord(val.id)">delete</a></br>
	<a ng-click="editContact(val.id)">edit</a></td>
	</tr>-->

	<!--
	http://pulsoft.0fees.net/?page_id=249 -->
